.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.root {
  display: flex;
  align-items: center;
  width: 100%;
}

.track {
  position: relative;

  width: 100%;
  height: 4px;

  background-color: rgb(140 97 255 / 50%);
  border-radius: 2px;
}

.range {
  position: absolute;
  height: 100%;
  background-color: var(--color-accent-500);
}

.thumb {
  cursor: pointer;

  display: flex;

  width: 16px;
  height: 16px;

  background-color: var(--color-light-100);
  border: 4px solid var(--color-accent-500);
  border-radius: 50%;
  outline: none;

  transition: 0.2s;
}
