.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(23 23 23 / 90%);
  backdrop-filter: blur(4px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 24px;

  border-bottom: 1px solid var(--color-dark-500, #333);
}

.close {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;

  width: 24px;
  height: 24px;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  max-width: 542px;
  max-height: 226vh;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500, #333);
  border-radius: 2px;
}
