.container {
  width: 542px;

  .content {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  .button {
    display: flex;
    gap: 150px;
    justify-content: space-between;
    padding: 20px 25px 25px;
  }
}
