@mixin button {
  cursor: pointer;

  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 2.25rem;
  padding: 0.375rem 1.75rem;

  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 4px;

  transition: 0.2s;

  &:disabled {
    cursor: initial;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include button;

  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  @include button;

  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.tertiary {
  @include button;

  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background: var(--color-accent-900);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    background-color: 0.0625rem solid var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
  }
}

.link {
  @include button;

  color: var(--color-accent-500);

  &:active {
    color: var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-300);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
    border-radius: 50px;
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}
