.container {
  width: 100%;
}

.root {
  width: 65%;
  margin: 0 auto;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 33px;

  button {
    width: 200px;
  }
}

.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  align-items: center;

  margin-bottom: 36px;
}

.textField {
  margin-top: 37px;
}

.slider {
  width: 100%;
  margin-top: 5px;
}

.button {
  margin-top: 25px;
}

.table {
  width: 100%;
}

.table_cell_name {
  width: 26%;
  text-align: left;
}

.table_cell_cards {
  width: 14%;
  text-align: left;
}

.table_cell_lastUpdated {
  width: 20%;
  text-align: left;
}

.table_cell_creator {
  width: 29%;
  text-align: left;
}

.table_cell_empty {
  width: 11%;
}

.nameCell {
  display: flex;
  gap: 10px;
  align-items: center;
}

.deckImage {
  max-width: 200px;
  height: 50px;
}

.options {
  display: flex;
  gap: 10px;
}
