.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 136px;
}

.root {
  width: 100%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 33px;

  button {
    width: 200px;
  }
}

.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  align-items: center;

  margin-bottom: 36px;

}

.textField {
  margin-top: 37px;
}

.slider {
  width: 100%;
  margin-top: 5px;
}

.button {
  margin-top: 25px;
}

