.table {
  width: 100%;
}

.table_cell_name {
  width: 26%;
  text-align: left;
}

.table_cell_cards {
  width: 14%;
  text-align: left;
}

.table_cell_lastUpdated {
  width: 20%;
  text-align: left;
}

.table_cell_creator {
  width: 29%;
  text-align: left;
}

.table_cell_empty {
  width: 11%;
}

.nameCell {
  display: flex;
  gap: 10px;
  align-items: center;

  a {
    color: var(--color-light-100);
    text-decoration: none;
  }

  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}

.deckImage {
  width: 100%;
  max-width: 60px;
  height: 40px;
}

.options {
  display: flex;
  gap: 10px;
}

.learn {
  display: flex;
}

.edit {
  cursor: pointer;
  display: flex;
  gap: 25px;
  align-items: center;
}
