.header {
  display: flex;
  align-items: center;

  height: 60px;

  background-color: var(--color-dark-700);
  border-bottom: 1.5px solid var(--color-dark-500);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
}

.logo {
  height: 34px;
  padding: 1px;
}

.userMenuTrigger {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-dark-700);
  border: 0;
}

.userInfo {
  padding-top: 0 !important;
  border-bottom: 1px solid var(--color-dark-500);
}

.userInfoContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile {
  border-bottom: 1px solid var(--color-dark-500);
}

.userName {
  color: var(--color-light-100);
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

.signOut {
  padding-bottom: 0 !important;
}
