.content {
  display: flex;
  flex-direction: column;
  width: 542px;
  padding: 0 24px;

  span {
    font-weight: var(--font-weight-bold);
  }
}

.buttons {
  display: flex;
  gap: 150px;
  justify-content: space-between;
  padding: 20px 25px 25px;
}
