.box {
  width: 420px;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 1px;
}

.content {
  padding: 33px 36px;

  @media screen and (width <= 768px) {
    padding: 19px 12px 17px;
  }
}
